body {
    background: linear-gradient(to right, #2980b9, #1abc9c);
}

.equipe {
    text-align: center;
    color: aliceblue;
}

.galeria_cima {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.galeria_baixo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

li {
    list-style-type: none;
    text-align: center;
    color: beige;
}

.time {
    display: flex;
    flex-wrap: wrap;
}

.membro {
    margin: 15px;
}

.membro img {
    border-radius: 50%;
    margin: 10px;
}

.membro div {
    border-radius: 10%;
}